html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr, button {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align: baseline; background:none;}
ol, ul {list-style:none;}
h1, h2, h3, h4, h5, h6, li {line-height:100%;}
blockquote, q {quotes:none;}
q:before,
q:after {content: "";}
table {
	font-size:15px;
	border-collapse:collapse; 
	border-spacing:0;
}
td {
	padding-top:8px;
	padding-bottom:10px;
	padding-right:13px;
}
input, textarea, select{
    font-size:15px;
    vertical-align:middle;
    margin:0;
    padding:0;
}
@font-face {
    font-family: 'TitilliumText22LThin';
    src: url('font/titilliumtext22l001-webfont.eot');
    src: url('font/titilliumtext22l001-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/titilliumtext22l001-webfont.woff') format('woff'),
         url('font/titilliumtext22l001-webfont.ttf') format('truetype'),
         url('font/titilliumtext22l001-webfont.svg#TitilliumText22LThin') format('svg');
    font-weight: normal;
    font-style: normal;

}
form, fieldset{border-style:none;}
body {
    min-width:1024px;
    color:#000;
    background:#f9fbf4;
    font:12px "TitilliumText22LThin", Verdana, serif;
}
h1
{
	font-size:25px;
    height:1%;
    line-height:32px;
    overflow:hidden;
    padding-top:10px;
	padding-bottom:10px;
    width:250px;
}
p
{
	padding-bottom: 18px;
}
img{border-style:none;}
a{
    text-decoration:none;
    /* color:#fff; */
}
a:focus {outline:none;}
a:hover{text-decoration:underline;}
/* wrapper start*/
#wrapper{
    width:100%;
    overflow:hidden;
    position:relative;
}
/* header start */
#header{background: url(images/bg-header.gif) repeat-x;}
.header-holder{
    width:946px;
    margin:0 auto;
}
.start-link{
    background: url(../images/btn-start.gif) no-repeat;
    width:159px;
    padding-right:5px;
    height:42px;
    float:right;
    margin-right:9px;
    color:#000;
    text-align:center;
    font:14px/40px "TitilliumText22LThin", Verdana, serif;
}
.start-link:hover{text-decoration:none;}
.container{
    overflow:hidden;
    width:100%;
}
/* logo start */
.logo{
    margin:0px 0 51px;
    text-indent:-9999px;
    width:192px;
    height:31px;
    overflow:hidden;
}
.logo a{
    display:block;
    height:100%;
}
/* logo end */
/* nav start */
#nav{
    height:25px;
    margin:-1px 0;
    overflow:hidden;
    padding-bottom:28px;
}
#nav li{
    float:left;
    padding:0 25px 0 3px;
    font:15px/20px "TitilliumText22LThin", Verdana, serif;
}
#nav li a{color:#000;}
#nav .active a{
    text-decoration:none;
    font-family:"Museo 500", Verdana, serif;
}
#nav li a:hover{
    text-decoration:none;
}
#nav li a:hover {text-decoration:underline;}
#nav .search{
	clear:both;
	float:right;
	}
#nav .search form{
	width: 200px;
	height: 24px;
	border: #BDC4C9 5px solid;
	background: white;
}
#nav .search input
{
	text-transform: uppercase; 
	color: #3D4247;
	font-size: 13px;
	float: left;
	width: 160px;
	height: 15px;
	padding: 2px 4px;
	margin: 3px 0 2px 4px;
	border: 0px;
	background-color: transparent;
	outline: none;
	margin: 0;
	font: 99% sans-serif;	
}
#nav .search button{
	float: right;
	background: transparent url('images/go.png') no-repeat center;
	width: 24px;
	height: 24px;
	border: none;
	padding: 0;
	overflow: visible;
	margin: 0;
	font: 99% sans-serif;
	cursor: pointer;
	outline: 0;
}
/* nav end */
/* header end */
.promo-box{
    background: url(images/bg-promo.gif);
    border-color:#d0e4d9;
    border-width:1px 0;
    border-style:solid;
    margin-bottom:62px;
}
.promo-box .holder{
    width:921px;
    padding:0 0 0 20px;
    margin:0 auto;
}
.promo-box .holder:after{
    content:"";
    display:block;
    clear:both;
}
.promo-box .info{
    font-size:26px;
    height:1%;
    line-height:32px;
    overflow:hidden;
    padding-top:42px;
    width:452px;
}
.promo-box .info.sp{
    font-size:26px;
    height:1%;
    line-height:32px;
    overflow:hidden;
    padding-top:56px;
    width:452px;
}
.promo-box .info.ps{
    font-size:26px;
    height:1%;
    line-height:32px;
    overflow:hidden;
    padding-top:56px;
    width:470px;
}
.sub-text{
    font-family:"TitilliumText22LThin",Verdana,serif;
    word-spacing:0px;
}
.promo-box .info h2{
    font:41px/48px "Museo 700",Verdana,serif;
    letter-spacing:0;
    margin:0 0 12px;
    word-spacing:-4px;
}
.promo-box .info p{
    font-family: "TitilliumText22LThin", Verdana, serif;
    font-size:25px;
    letter-spacing:0;
    margin-bottom:12px;
    }
.promo-box .info.sp h2{
    font:41px/48px "Museo 700",Verdana,serif;
    letter-spacing:0;
    margin:0 0 12px;
    word-spacing:-2px;
}
.promo-box .info.sp p{
    font-family: "TitilliumText22LThin", Verdana, serif;
    font-size:25px;
    letter-spacing:0;
    margin-bottom:12px;
    }
    .promo-box .info.ps h2{
        font:41px/48px "Museo 700",Verdana,serif;
        letter-spacing:0;
        margin:0 0 12px;
        word-spacing:-2px;
    }
    .promo-box .info.ps p{
        font-family: "TitilliumText22LThin", Verdana, serif;
        font-size:25px;
        letter-spacing:0;
        margin-bottom:12px;
        }
.img-holder{
    position:relative;
    margin:-35px -7px -35px 34px;
    float:right;
}
.img-holder img{vertical-align:top;}
.title-text{
    font-size:19px;
    line-height:27px;
    padding:3px 15px 0 4px;
}
.idea-list{
    width:662px;
    margin-right:-60px;
    padding:38px 0 4px;
    overflow:hidden;
}
.idea-list li{
    line-height:17px;
    padding:0 34px 36px 5px;
    width:290px;
    float:left;
}
.idea-list li strong{
    font-size:14px;
    line-height:23px;
}
/* main start */
#main{
    width:946px;
    margin:0 auto;
}
#main:after{
    content:"";
    display:block;
    clear:both;
}
#content{
    width:613px;
    float:right;
    padding-right:10px;
}
#main .start-link{
    height:44px;
    line-height:46px;
    font-size:15px;
    background-position:0 -42px;
    position:relative;
}
.money-list{
    height:128px;
    margin-bottom:33px;
    width:618px;
    word-spacing:-1px;
}
.money-list li{
    text-align:center;
    width:183px;
    float:left;
    padding:35px 8px 0 0;
}
.money-list li a{color:#000;}
.money-list .center{padding:25px 32px 0 21px;}
.money-list strong{
    font-size:51px;
    letter-spacing:-2px;
    line-height:52px;
    padding:0 0 0 12px;
}
.money-list .week{
    font-size:40px;
    line-height:46px;
    letter-spacing:-2px;
    padding-right:10px;
    font-weight:bold;
}
.money-list .ready{padding-top:6px;}
.money-list strong span{
    font-size:40px;
    line-height:42px;
}
.money-list span{
    display:block;
    font-size:14px;
    line-height:15px;
    padding:0 0 0 14px;
}
.benefits-list{
    background:none repeat scroll 0 0 #7aa5e3;
    border-bottom:9px solid #AAC634;
    letter-spacing:0;
    margin-bottom:32px;
    overflow:hidden;
    padding:22px 0 16px;
    width:618px;
    word-spacing:3px;
}
.benefits-list li{
    float:left;
    font-size:16px;
    line-height:20px;
    padding:0 10px 0 21px;
}
.benefits-list li:first-child{
    background:none repeat scroll 0 0 transparent;
    line-height:21px;
    }
.benefits-list li a{color:#000;}
.info-box{
    padding:0 0 39px 15px;
    line-height:17px;
}
.info-box h4{
    font-size:15px;
    margin-bottom:8px;
    word-spacing:1px;
}
.site-list{
    margin:0 -15px 0 -3px;
    overflow:hidden;
    padding:33px 0 0;
    width:615px;
}
.site-list img{vertical-align:top;}
.site-list li{
    padding:0 21px 22px 0;
    float:left;
}
.title-blue{
    width:253px;
    font-size:22px;
    height:40px;
    line-height:42px;
    padding:0 0 0 14px;
    margin-bottom:21px;
}
.link-list{
    width:636px;
    margin:0 -26px 82px 0;
}
.link-list:after{
    content:"";
    display:block;
    clear:both;
}
.link-list li{
    float:left;
    width:270px;
    line-height:16px;
    padding:0 48px 40px 0;
}
#main .link-list .text{
    margin:0 0 14px -2px;
    padding:0;
}
.link-list li h4{margin:0 0 6px;}
.link-list a{
    background: url(../images/bg-link-01.gif) no-repeat;
    width:229px;
    height:41px;
    display:block;
    line-height:39px;
    font-size:14px;
    color:#000;
    text-align:center;
    margin-left:-3px;
}
.faq-list{
    padding:2px 0 39px;
    margin-bottom:52px;
    background: url(../images/sep-01.gif) repeat-x 0 100%;
}
.faq-list li{
    line-height:34px;
    vertical-align:top;
}
.faq-list li a{
    margin:0;
    font-size:14px;
    padding:0 0 0 15px;
    color:#000;
    text-decoration:underline;
}
.faq-list li a:hover{text-decoration:none;}
.text-list{padding-bottom:90px;}
.content-holder{padding-top:9px;}
#content .text-list strong{
    font-size:14px;
    line-height:26px;
}
.text-list li{
    padding:0 25px 21px 4px;
    font-size:13px;
    line-height:18px;
}
.coment-form{padding-bottom:64px;}
.coment-form h3{
    font-size:18px;
    font-weight:normal;
    background: url(../images/sep-02.gif) repeat-x 0 100%;
    padding:11px 0 22px 10px;
}
.coment-form label{
    font-size:14px;
    line-height:28px;
}
.coment-form label.surely{
    padding-right:11px;
    background: url(../images/ico-star.gif) no-repeat 100% 1px;
}
.coment-form .form-holder{padding:7px 0 0 10px;}
.coment-form .row{
    overflow:hidden;
    padding:0 0 11px;
}
.coment-form .row label{
    font-size:11px;
    line-height:24px;
}
.coment-form .phone{
    width:44px;
    float:left;
    background: url(../images/sep-03.gif) no-repeat 34px 10px;
}
.coment-form .phone label{padding-left:3px;}
.coment-form .phone2{background:none;}
.coment-form .phone input{
    padding:3px 2px;
    width:24px;
    text-align:center;
}
.coment-form .phone2 input{width:30px;}
.coment-form input{
    float:left;
    background: url(../images/bg-input-01.gif) repeat-x;
    border-color:#c3c3c3;
    border-width:0 1px 1px 1px;
    border-style:solid;
    padding:3px 4px;
    width:292px;
}
.coment-form .small{
    width:64px;
    float:left;
}
.coment-form .small input{width:50px;}
.coment-form .middle{
    width:96px;
    float:left;
}
.coment-form .middle input{width:86px;}
.coment-form .check{
    width:16px;
    height:15px;
    margin:3px 7px 0 0;
    padding:0;
    border-style:none;
    background:none;
}
.coment-form .row .container{padding-bottom:2px;}
.coment-form .row .container label{font-size:14px;}
.coment-form .textarea{
    width:590px;
    padding:5px;
    background:#fff url(../images/bg-input-01.gif) repeat-x;
    border-color:#c3c3c3;
    border-width:0 1px 1px 1px;
    border-style:solid;
    height:138px;
}
.coment-form textarea{
    width:590px;
    background:none;
    border-style:none;
    height:138px;
    overflow:auto;
}
.coment-form .submit{
    width:64px;
    border:1px solid #c3c3c3;
    padding:0;
    margin-top:15px;
    cursor:pointer;
    background:#fff;
}
.process-box{
    background: url(../images/sep-01.gif) repeat-x;
    padding:41px 0 0 3px;
}
.process-box .img-holder{
    margin:0;
    padding:40px 0 46px;
    float:none;
}
.info-holder{
    width:970px;
    padding-bottom:18px;
    margin-right:-30px;
}
.info-holder:after{
    content:"";
    display:block;
    clear:both;
}
.info-holder ul{
    float:left;
    padding-right:46px;
    margin-left:-3px;
    width:280px;
}
.info-holder li{
    font-size:11px;
    line-height:15px;
    float:left;
    width:100%;
    margin:0 0 27px;
}
.info-holder li h4{
    overflow:hidden;
    margin-bottom:4px;
}
.info-holder .number{
    background: url(../images/ico-number.gif) no-repeat;
    width:23px;
    height:23px;
    float:left;
    font-size:14px;
    line-height:22px;
    text-align:center;
    margin-right:6px;
}
.process-box .holder{padding-left:14px;}
.process-box strong{
    float:left;
    font-size:14px;
    line-height:24px;
}
.testimonials-box{
    background: url(../images/sep-01.gif) repeat-x;
    padding:50px 0 0 3px;
}
.three-columns{
    overflow:hidden;
    padding:22px 0 30px;
}
.three-columns .column{
    width:281px;
    float:left;
}
.column li{
    font-size:12px;
    line-height:17px;
    margin-bottom:50px;
    vertical-align:top;
}
.column p{margin-bottom:4px;}
.three-columns .center{
    width:268px;
    padding:0 48px 0 44px;
}
.inner-holder{
    float:right;
    width:618px;
    padding-right:3px;
}
#main .inner-holder .start-link{margin:19px 16px 0 0;}
.sites-list{
    width:640px;
    margin-right:-30px;
    padding:11px 0 26px 3px;
}
.loupe{
    margin:-13px 0 0 4px;
    display:block;
    width:15px;
}
.sites-list img{vertical-align:top;}
.sites-list .number{
    background: url(../images/ico-number-02.gif) no-repeat;
    width:41px;
    height:41px;
    float:left;
    font:22px/41px "Museo 700", Verdana, serif;
    text-align:center;
    margin:-10px 0 -17px -12px;
    position:relative;
}
.sites-list .holder{width:100%;}
.sites-list .holder:after{
    content:"";
    display:block;
    clear:both;
}
.sites-list:after{
    content:"";
    display:block;
    clear:both;
}
.sites-list li{
    background: url(../images/bg-sites.gif) no-repeat;
    width:302px;
    float:left;
    padding:0 2px;
    height:233px;
    margin:0 13px 57px 0;
}
.maket-box{margin:8px 0 46px -7px;}
.maket-box img{vertical-align:top;}
.separator{
    width:946px;
    height:1px;
    background: url(../images/sep-01.gif) repeat-x;
    margin-left:-325px;
}
.main-holder{
    overflow:hidden;
    width:100%;
    margin:0 0 42px;
    background: url(../images/sep-01.gif) repeat-x 0 100%;
}
.sidebar{
    width:321px;
    float:left;
}
.content{
    float:right;
    width:613px;
    padding:0 11px 0 0;
}
.features-box ul{
    width:640px;
    overflow:hidden;
    margin-right:-40px;
    padding:10px 0 16px;
}
.features-box li{
    display:inline-block;
    vertical-align:top;
    width:290px;
    overflow:hidden;
    padding:0 12px 47px 16px;
    font-size:11px;
    line-height:15px;
}
*+html .features-box li{display:inline;}
.features-box li strong{
    font-size:15px;
    line-height:19px;
    display:block;
    margin-bottom:5px;
}
.features-box li .holder{
    height:1%;
    overflow:hidden;
}
.features-box img{
    float:left;
    margin-right:9px;
}
/* sidebar start */
#sidebar{
    float:left;
    width:321px;
    padding:9px 0 0 2px;
}
#sidebar .link-list{
    width:270px;
    margin-bottom:40px;
}
.sidebar .link-list{
    width:270px;
    margin-bottom:0px;
}
.sidebar .link-list li{
    padding:0 0 24px;
    width:279px;
}
.wrapp-box{width:100%;}
.wrapp-box:after{
    content:"";
    display:block;
    clear:both;
}
.wrapp-box .link-list li h4 {margin:0 0 6px 3px;}
#main h3.title{
    font-size:22px;
    height:40px;
    line-height:42px;
    padding:0 0 0 14px;
    width:214px;
    margin-bottom:21px;
}
#sidebar .list li{
    font-size:11px;
    letter-spacing:0;
    line-height:15px;
    padding:0 39px 29px 13px;
}
.list h4 a{color:#000;}
.about-box h4,
.link-list h4,
.list h4{
    background:scroll 0 3px transparent;
    font-size:15px;
    height:1%;
    line-height:18px;
    margin:0 0 9px -11px;
    padding:0 0 0 15px;
    word-spacing:-1px;
}
.list p a{
    color:#000;
    text-decoration:underline;
}
.list p a:hover{text-decoration:none;}
.list address{
    font-style:normal;
    line-height:16px;
    padding:0 0 0 6px;
}
.list address span{
    display:block;
}
#sidebar .list  .data-list li{
    vertical-align:top;
    padding:0 0 11px 7px;
    line-height:16px;
    margin:-3px 0 3px;
}
#sidebar .list .data-list li strong{display:block;}
.about-box{
    overflow:hidden;
    position:relative;
    padding:21px 0 0;
    line-height:17px;
    background: url(../images/ico-about.gif) no-repeat 157px 63px;
}
.about-box .holder{padding-right:155px}
#sidebar .about-box h4{
    margin:0;
    padding:1px 0 5px 18px;
}
.sidebar .title-blue,
.inner-side .title-blue{
    line-height:43px;
    margin:0 0 21px;
    padding:0 0 0 3px;
}
#sidebar .inner-side .list{padding:9px 0 75px 1px;}
#sidebar .inner-side .list li{
    font-size:12px;
    line-height:17px;
    padding:0 49px 28px 0;
}
#sidebar .inner-side h4{margin:0 0 7px 2px;}
#sidebar .inner-side .list ul{padding:16px 0 0;}
#sidebar .inner-side .list li li{padding:0 0 17px;}
#main h3.long-title{
    background: url(../images/bg-title-03.gif) no-repeat;
    width:235px;
    height:39px;
    padding-left:9px;
}
#sidebar .info-holder{
    width:auto;
    height:1%;
    margin:0 0 0 -2px;
    padding:8px 0 0;
}
#sidebar .info-holder h4{
    font-size:14px;
    line-height:23px;
    margin-bottom:5px;
}
#sidebar .info-holder li {margin-bottom:28px;}
#sidebar .info-holder .holder{padding-left:16px;}
#sidebar .inner-box{
    margin-left:-2px;
    overflow:hidden;
    height:1%;
    padding-top:215px;
}
#sidebar .inner-box .link-list{
    padding:12px 0 0;
    margin:0;
    width:273px;
}
#main .inner-box .link-list .text{margin-left:0;}
#sidebar .inner-box h4{margin:0 0 5px 2px;}
#sidebar .inner-box .link-list li {padding:0 0 23px;}
.inner-box .link-list a {margin:0 0 14px -3px;}
.card-list{
    border-bottom:1px solid #666;
    border-top:1px solid #666;
    padding:5px;
    width:245px;
    text-align:center;
    margin:-23px 0 0;
    float:left;
}
.card-list li{
    display:inline;
    margin:0 5px;
}
.card-list img{vertical-align:top;}
.phone-box{
    overflow:hidden;
    height:1%;
    margin-left:-4px;
    padding:63px 0 0;
}
.phone-box img{
    float:right;
    margin:0 26px 0 -20px;
}
.phone-box .holder strong{
    font-size:15px;
    display:block;
    margin-bottom:4px;
}
.phone-box .holder{
    overflow:hidden;
    line-height:17px;
    padding:46px 0 0;
    height:1%;
}
/* sidebar end */
/* main end* */
/* footer start */
#footer{
    background:50% 0 #383838;
    margin:-7px 0 0;
    min-height:61px;
    padding:40px 2px 0 0;
}
#footer .holder{
    background:none repeat scroll 0 0 #535353;
    margin:0 auto;
    overflow:hidden;
    padding:0 30px 0 17px;
    width:931px;
    word-spacing:-1px;
}
#footer .contact{
    float:right;
    text-align:right;
    color:#e1f7eb;
}
#footer .contact span{
    display:block;
    color:#fff;
    font-size:16px;
    line-height:16px ;
}
.sub-nav{
    float:left;
    padding-top:6px;
}
.sub-nav li{
    float:left;
    padding:0 25px 0 3px;
    font:15px/20px "TitilliumText22LThin", Verdana, serif;
}
.sub-nav li a{color:#fff;}
/* footer end */
/* wrapper end*/
/*sub pages start*/
.subpage-main{
    background: url(images/bg-promo.gif);
    border-color:#d0e4d9;
    border-width:1px 0;
    border-style:solid;
    margin-bottom:62px;
}
.subpage-main .holder{
    width:921px;
    padding:0 0 0 20px;
    margin:0 auto;
}
.subpage-main .holder:after{
    content:"";
    display:block;
    clear:both;
}
.subpage-main .info{
    font-size:26px;
    height:1%;
    line-height:32px;
    overflow:hidden;
    padding-top:42px;
    width:452px;
}
.subpage-main .info.sp{
    font-size:26px;
    height:1%;
    line-height:32px;
    overflow:hidden;
    padding-top:56px;
    width:452px;
}
.subpage-main .info.ps{
    font-size:26px;
    height:1%;
    line-height:32px;
    overflow:hidden;
    padding-top:56px;
    width:470px;
}
.sub-text{
    font-family:"TitilliumText22LThin",Verdana,serif;
    word-spacing:0px;
}
.subpage-main .info h2{
    font:41px/48px "Museo 700",Verdana,serif;
    letter-spacing:0;
    margin:0 0 12px;
    word-spacing:-4px;
}
.subpage-main .info p{
    font-family: "TitilliumText22LThin", Verdana, serif;
    font-size:25px;
    letter-spacing:0;
    margin-bottom:12px;
    }
.subpage-main .info.sp h2{
    font:41px/48px "Museo 700",Verdana,serif;
    letter-spacing:0;
    margin:0 0 12px;
    word-spacing:-2px;
}
.subpage-main .info.sp p{
  font-family: "TitilliumText22LThin", Verdana, serif;
  font-size:25px;
  letter-spacing:0;
  margin-bottom:12px;
}
.subpage-main .info.ps h2{
     font:41px/48px "Museo 700",Verdana,serif;
     letter-spacing:0;
     margin:0 0 12px;
     word-spacing:-2px;
 }
.subpage-main .info.ps p{
    font-family: "TitilliumText22LThin", Verdana, serif;
    font-size:25px;
    letter-spacing:0;
    margin-bottom:12px;
}
.grid-header{
    background:none repeat scroll 0 0 #7aa5e3;
    border-bottom:9px solid #AAC634;
    letter-spacing:0;
    margin-bottom:32px;
    overflow:hidden;
    padding:22px 0 16px;
    width:921px;
    word-spacing:3px;
}
.grid-header li{
    float:left;
	min-width:110px;
    font-size:16px;
    line-height:20px;
    padding:0 10px 0 21px;
}
.grid-header li:first-child{
    background:none repeat scroll 0 0 transparent;
    line-height:21px;
    }
.grid-header li a{color:#000;}
.grid-row{
    letter-spacing:0;
    margin-bottom:10px;
    overflow:hidden;
    padding:22px 0 16px;
    width:921px;
    word-spacing:3px;
}
.grid-row li{
    float:left;
	width:110px;
	vertical-align:middle;
    font-size:15px;
    line-height:15px;
    padding:0 5px 0 10px;
}

.ticker{
	width: 110px;
	font-weight: bold;
	padding: 0 0 0 10px;
    float:left;
	vertical-align:middle;
    font-size:15px;
    line-height:15px;	
}

.fundname{
	width: 180px;
    float:left;
	vertical-align:middle;
    font-size:15px;
    line-height:15px;
    padding:0 5px 0 5px;
}
.chart
{
	float:right;
	width: 440px; 
	height: 120px;	
}
.admin
{
	font-weight:normal;
	font-size:13px;
}

.newfund
{
    font-size:18px;
    height:1%;
    line-height:32px;
    overflow:hidden;
    padding-top:18px;
	padding-bottom:25px;
    width:250px;
}
.pagination
{
    font-size:14px;
    height:1%;
    line-height:32px;
    overflow:hidden;
    padding-top:8px;
	padding-bottom:13px;
    width:450px;
}
.pagestext
{
    font-size:15px;
    height:1%;
	padding-top:18px;
	padding-bottom:50px;
    overflow:hidden;
    width:100%;	
}
.actions
{
	padding-top:10px;
	padding-bottom:13px;
	font-size:15px;
}