<h1>About</h1>

<div class="pagestext">
	
	<p>Exchange-traded funds are securities that can be traded like regular stocks. ETFs are not physical companies, however; they simply track the performance of stock indices, commodities, and  many other types of assets being traded on stock exchanges. In many respects, ETFs are like mutual funds for the 21st century: you can own as little as 1 ETF share, you can sell short and buy on margin, and your commissions are a fraction of the commission charged for trading mutual funds.
	</p>
	
	<p>This site was implemented by Eugene Chuvyrov through his consulting company Cyberia, Inc. For questions about the site, e-mail <a href="mailto:info@cyberia-inc.com">eugene@cyberia-inc.com</a>.
	</p>
</div>