<ul class="grid-header">
	<li>Ticker Symbol</li>
	<li>ETF Name</li>
	<li>Tracks</li>
	<li>Performance</a></li>
</ul>
<table class="etflist" summary="ETF List">
  <tr>
    <td class="main">
		<!-- <%= debug @funds %> -->
    	<%= render @funds %>
		<%= will_paginate @funds %>
	</td>
  </tr>
</table>
