<div class="etfprofile" summary="Fund Information">
	<div class="label">ETF Name:</div>
    <div class="data"><%= @fund.etfname %></div>
	<div class="label">Ticker</div>
	<div class="data"><%= @fund.tickersymbol %></div>
</div>
