<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>ETFTrack - Exchange-Traded Funds (ETF) Tracking - Simple ETF Performance Metrics</title>
	<%= csrf_meta_tags %>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link media="all" type="text/css" rel="stylesheet" href="etf.css">
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<div class="header-holder">
				<div class="container">
					&nbsp;					
				</div><!--container-->
				<h1 class="logo"><a href="#">ETFTrack</a></h1><!--logo-->
				<ul id="nav">
					<div class="search">
						<form id="search" action="/search/" method="post">
							<input type="text" name="searchcriteria" placeholder="Enter ticker or name to search">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
							<button class="search-submit" type="submit"><span></span></button>
						</form>
					</div>
					<li class="active"><a href="#">Home</li>
					<li><a href="/about">About</a></li>
					<li>
						<% if admin? %>
						  	<a href="/logout">Logout</a>
						<% else %>
						  	<a href="/login">Login</a>						  
						<% end %>
					</li>
				</ul><!--nav-->
			</div><!--header-holder-->
		</div><!--header-->
		<div class="promo-box">
			<div class="holder">
				<div class="img-holder">
					<img src="images/ico-box.png" alt="" width="419" height="419">
				</div><!--img-holder-->
				<div class="info">
					<h2>Simple ETF Tracking</h2>
					<p>Get and idea on what a given Exchange-Traded Fund tracks, tax consequences of investing in that ETF, and understand ETF performance in just a couple of clicks.</p>
				</div><!--info-->
			</div><!--holder-->
		</div><!--promo-box-->
		<div id="main">
			<div id="content">
				<ul class="money-list">
					<li>
						<a href="/top25month"><strong class="price">TOP 25</strong>
						<span>THIS MONTH</span></a>
					</li>
					<li class="center">
						<a href="/top50ytd"><strong class="price">TOP 50</strong>
						<span>YTD</span></a>
					</li>
					<li>
						<a href="/weeksbiggestmovers"><span class="ready">10 BIGGEST MOVERS</span>
						<span class="week">1 Week</span></a>
					</li>
				</ul>
				<ul class="benefits-list">
					<li><a href="category/index">Index ETFs</a></li>
					<li><a href="category/comodity">Commodity ETFs</a></li>
					<li><a href="category/bond">Bond ETFs</a></li>
					<li><a href="category/currencyetfs">Currency ETFs</a></li>
					<li><a href="category/am">AMETFs</a></li>
				</ul>
				<div class="info-box">
					<h4>Easy-to-find ETF information</h4>
					<p class="sub-text">Each ETF listed on this site has information on what it tracks, what are the tax implications of investing in this ETF are, as well as recent performance of this ETF. </p>
				</div>
			</div><!--content-->
			<div id="sidebar">
				<div class="container">
					<h3 class="title">What this site isn't:</h3>
				</div><!--container-->
				<ul class="list">
					<li>
						<h4>I am not a paid ETF analyst</h4>
						<p>This site is a fully automated tool developed because I personally had a need to understand ETFs in a simple, searchable manner. Because ETF landscape is so volatile, with many funds entering and exiting the market, this info might get a little (but not too) stale. Please keep this in mind.</a> </p>
					</li>
					<li>
						<h4>I am not associated with any of the funds listed here</h4>
						<p>I am just a geek exploring Ruby programming language, with an insatiable curiosity in financial markets.</p>
					</li>
					<li>
				</ul><!--list-->
			</div><!--sidebar-->
		</div><!--main-->
		<div id="footer">
			<div class="holder">
		</div><!--footer-->
	</div><!--wrapper-->

</body></html>